doctype html
html
    head
        title.
            ZERØ
        meta(name='description', content='Read the news.')

        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')

        meta(property='og:title', content='ZERØ')
        meta(property='og:type', content='website')
        meta(property='og:image', content='http://zer0.news/icon.png')
        meta(property='og:url', content='http://zer0.news/')
        meta(property='og:description', content='Read the news.')

        meta(property='twitter:card', content='summary_large_image')

        link(rel='stylesheet', href='app.css', inline='true')
    body
        h1#logo ZER&Oslash;.
        select#channel

        .heading
            span Top

        #lead

        .heading
            span Trending

        #posts

    script(src='vendor.js?__inline=true')
    script(src='app.js?__inline=true')
    script(src='cordova.js')