doctype html
html
    head
        title.
            T3RRØR
        meta(name='description', content='A simple news feed of stories & articles.')

        meta(property='og:title', content='T3RRØR')
        meta(property='og:type', content='website')
        meta(property='og:image', content='http://news.t3rr0r.com/icon.png')
        meta(property='og:url', content='http://news.t3rr0r.com/')
        meta(property='og:description', content='A simple news feed of stories & articles.')

        meta(property='twitter:card', content='summary_large_image')

        link(rel='stylesheet', href='app.css', inline='true')
    body
        #logo
            .logo-content
                h1 T3RRØR
                .tint
        .heading
            span Top Stories Today
        #top-posts
        .heading
            a.hot(onclick="reload('hot')") Hot
            span /
            a.trending(onclick="reload('trending')") Trending
            span /
            a.new(onclick="reload('new')") New
        #posts

    script(src='vendor.js?__inline=true')
    script(src='app.js?__inline=true')
    script(src='cordova.js')