@import '00_variables.styl'
@import 'nib'

article
    &:before
    &:after
        content " "
        display table
    &:after
        clear both    

.meta a
    color #57ad68
    font-size 12px
    &:hover
        text-decoration underline
