@import '00_variables.styl'
@import 'nib'

article
    position relative
    border-top 1px solid #f6f6f6
    padding 15px 0

.title
    font-family Georgia,Cambria,"Times New Roman",Times,serif
    font-weight 400
    line-height 1.45
    letter-spacing .005rem
    display block
    padding 10px 15px
    word-wrap break-word
    &:hover
        text-decoration underline

.meta
    font-size 11px
    padding 0 15px 15px
    color rgba(0,0,0,0.3)
    a
        color #57ad68
        font-size 12px
        &:hover
            text-decoration underline